<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <label for="username">Username:</label>
  <input id="username" type="text" formControlName="username" />
  <div *ngIf="signinForm.get('username')?.invalid && signinForm.get('username')?.touched">Username is required</div>

  <label for="password">Password:</label>
  <input id="password" type="password" formControlName="password" />
  <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">Password is required</div>

  <button type="submit" [disabled]="signinForm.invalid">Sign In</button>
</form>
